/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

:global(.hero__subtitle) {
  max-width: 35rem;
  color: #6a8bad;
  margin: 0 auto;
}

:global(.footer) {
  margin: 0 2rem;
}

@media (max-width: 419px) {
  :global(.footer) {
    margin: 0 1.5rem;
  }
}

.howTo {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2em;
}
