pkg-outline()
  border-color transparent
  outline-style dashed
  outline-offset -3px
  outline-width 3px

pkg-border(c)
  border-style solid
  border-width: w = 1px
  border-color c
  border-radius 0

  &.with-left
    border-left-width 0px

  &.with-right
    border-right-width 0px

    &+.with-left
      border-left-width 1px

$trans = all ease 0.2s 0s, box-shadow ease-out 0.4s 0s

*
  transition $trans

pkg-focus()
  &:focus
    box-shadow: 0.5em 0.5em 1em #2c3e506e;
    pkg-outline()
    outline-color $primaryColor
    outline-style solid
    outline-width 1px
    outline-offset -1px

pkg-hover()
  &:hover
    pkg-outline()
    box-shadow: 0.5em 0.5em 2em #2c3e506e;
    outline-color $accentColor

.gitpkg-input
  c($color)
    pkg-outline()
    outline-color $color

  box-sizing border-box
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  padding 0 1em
  height $unitSize
  appearance none

  pkg-border($textColor)

  pkg-focus()
  pkg-hover()

  &.success
    c $successColor

  &.error
    c $errorColor

  &::selection
    background-color $codeBgColor
    color lighten($accentColor, 10)

.gitpkg-button
  c($color)
    pkg-outline()
    outline-color $color

  background-color: bg = rgb(240, 240, 240)
  text-align center
  cursor pointer

  pkg-border($textColor)

  pkg-focus()

  pkg-hover()

  *
    transition $trans, color 0s

  &:active
    pkg-outline()
    c darken($accentColor, 25%)
    background-color darken(bg, 10%)

  &.icon
    width $unitSize
    height $unitSize
    display flex
    justify-content center
    align-items center

  &.success
    color $successColor
    c $successColor

  &.error
    color $errorColor
    c $errorColor

@import select
