// https://vuepress.vuejs.org/config/#palette-styl

$unitSize = 2.4em

// colors
$primaryColor = #2196F3;
$successColor = #42b983;
$infoColor = #42A5F5;
$errorColor = #C30000;
$warningColor = darken(#FFE564, 35%);

$accentColor = #F06292;
// $textColor = #2c3e50;
// $borderColor = #eaecef;
// $codeBgColor = #282c34;
// $arrowBgColor = #ccc;
$badgeTipColor = $infoColor;
$badgeWarningColor = $warningColor;
$badgeErrorColor = $errorColor;
// // layout
// $navbarHeight = 3.6rem;
// $sidebarWidth = 20rem;
// $contentWidth = 740px;
// $homePageWidth = 960px;
// // responsive breakpoints
// $MQNarrow = 959px;
// $MQMobile = 719px;
// $MQMobileNarrow = 419px;
